--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.11.0+cu128
torchvision==0.26.0+cu128
torchaudio==2.11.0+cu128
ultralytics==8.4.47
onnx==1.21.0
opencv-python==4.13.0.92
tensorrt==10.16.1.11
onnxslim==0.1.92
